__pycache__/
encoders/pretrained_transformers/bert_base_cased/
encoders/pretrained_transformers/__pycache__/
encoders/__pycache__/
util/__pycache__/
attnexp/
ontonotes/
baseline/
trail/
train.slurm
**.err
**.out
baseline/
trail/
coref_ablation/
ctl_ablation/
src_ablation/
med_ablation/
ctd_ablation/
nel_ablation/
ner/
ner_ablation/
ner_test/
ner_baseline/
fullyconnect_ablation/